# Datenbank
DATABASE_URL=sqlite:///./data.db

# Firebase Konfiguration
FB_APP_ID=
FB_API_KEY=
FB_PROJECT_ID=

# API Konfiguration
API_BASE=
AUTH_URL=

# Encryption Keys
ENC_KEY=
ENC_IV=

# API Credentials (Fallback)
USER_KEY=
PASS_KEY=
API_USERNAME=
API_PASSWORD=

# App Version
APP_VERSION=
